<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Udacity Attendance App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    </head>
    <body>
      <script type="text/template" class ="template" id="headerTemp">
        <thead><tr>
            <th class="name-col">Student Name</th>
            <% _.each( _.range(1, count + 1), function( i ){ %>
              <th><%- i %></th>
            <% }); %>
            <th class="missed-col">Days Missed-col</th>
        </tr><thead>
      </script>
      <script type="text/template" class ="template" id="studentTemp">
        <tr class="student">
          <td class="name-col"><%- student.name %></td>
          <% _.each( student.attendance, function(att){ %>
            <td class="attend-col"><input type="checkbox" <%- att ? "checked": "" %> ></td>
          <% }); %>
          <td class="missed-col"><%- student.missed %></td>
        </tr>
      </script>
        
        <h1>Udacity Attendance</h1>

        <table>
            <tbody></tbody>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
